@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

p:hover {
    background-color: pink;
}

p {
    transition: background-color .2s;
    /* este es para cambiar el color */
    color: blue;
    /* para cambiar el tamaño de letra */
    /* 1era REGLA: Toda letra de pantalla, mide por defecto 16px */
    font-size: 30px;
    text-align: center;
    /* texto esté en negrita */
    font-weight: 900;
    /* color de fondo */
    background-color: aqua;
    /* cambiar el tipo de letra */
    /* centrando el texto */
    /* text-align: center; */
    /* moldeando la caja */
    padding: 20px 30px 10px;
    /* estas dos lineas sirven para alinear en el centro de toda la caja */
    text-align: center;
    align-content: center;
    /* cambiar el ancho del elemento */
    width: 800px;
    margin: 0 auto;
    /* cambiar el alto */
    height: 500px;
    /* sombra */
    /* difuminado - blur */
    /* grosor - gutter */
    box-shadow: -40px -30px 40px 30px gray;
}