.caja {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    div {
        width: 300px;
        height: 300px;
        background-color: crimson;
    }
}

@media (width > 900px) {
    .caja div {
        background-color: green;
        width: 200px;
        height: 200px;
    }
}